*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    background-color: #f5f5f5;
}
.container{
    width: 90%;
    margin: auto;
    padding: 0;
}






/*底部导航*/
nav{
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    border-top: 1px solid #cbcbcb;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    
}
nav ul{
    padding-left: 0;
}
nav ul:after{
    display: table;
    content: "";
    clear: both;
}
nav li{
    list-style: none;
    width: 20%;
    text-align: center;
    position: relative;
    float: left;
}
nav a{
    text-decoration: none;
    color: #232326;
    font-size: 12px;
}
nav a:hover,nav a .active{
    color: #f23030;
}
.active{
    color: red;
}
nav .fa{
    font-size: 20px;
    margin-bottom: 5px;
}
nav span{
    display: block;
}
nav .hot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 14px;
    top: -2px;
    background: red;
}






/*顶部搜索栏*/
.search {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 8;
    background: #fff;
    /* background: transparent; */
    position: relative;
}
.search:after{
    display: table;
    content: "";
    clear: both;
}
.search .left,.search .center,.search .right{
    float: left;
    text-align: center;
}
.fa-qrcode:before {
    content: "\f029";
    color: #9b9b9b;
}
.fa-commenting-o:before {
    content: "\f27b";
    color: #9b9b9b;
}
.search .left,.search .right{
    width: 20%;
}
.search .center{
    width: 60%;
}
.search .left i,.search .right i{
    font-size: 20px;
}
.search .left span,.search .right span{
    font-size: 12px;
    display: block;
    color: #9b9b9b;
}
.search .center{
    position: relative;
}
.search .center i{
    color: #9b9b9b;
    font-size: 18px;
    position: absolute;
    left: 12px;
    top: 8px;
}
.search .center i.fa-microphone{
    left: auto;
    right: 15px;
}
.search .center  input{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 25px;
    padding-left: 36px;
    outline: none;
    color: #000;
}





/*banner 轮播图部分*/
.swiper-container {
    height: 200px;
    display: block;
}
.swiper-container img{
    width: 100%;
    height: 180px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    padding-bottom: 20px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 4px;
    display: inline-block;
    border-radius: 0%;
    background: #bfa2ab;
    opacity: .2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
    top: 3px;
}




/*首页app部分*/
.app{
    border-radius: 10px 10px 0px 0px;
    background: #f5f5f5;
    margin-top: -10px;
    position: relative;
}
.app:after{
    display: table;
    content: "";
    clear: both;
}
.app > div{
    float: left;
    width: 20%;
    text-align: center;
    padding: 4px;
}
.app img{
    width: 100%;
    padding: 7px;
}
.app a{
    text-decoration: none;
    color: #848689;
}




/*京东快报部分*/
.news{
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
}
.news::after{
    display: table;
    content: "";
    clear: both;
}
.news .left{
    width: 25%;
    float: left;
}
.news .center{
    width: 60%;
    float: left;
}
.news .right{
    width: 15%;
    float: left;
}
.news {
    border-radius: 10px;
    background: #fff;
    color: #000;
    padding: 5px;
}
.news a{
    text-decoration: none;
        color: #000;
}
.news span{
    color: red;
    margin-right: 3px;
}
.news .center a{
    display: block;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .center{
    height: 16px;
    overflow: hidden;
    transition: 1s
    transform: translateY(-16px)
}




/*京东秒杀部分*/
.miaosha{
    background: #fff;
}
.miaosha .title{
    
}
.title::after{
    display: table;
    content: "";
    clear: both;
}
.miaosha .title .left{
    float: left;
    padding: 5px 0;
    width: 67%;
    background-image: url(../img/jingdongmiaosha/left-bg.jpg);
    background-size: cover;
    padding-left: 5px;
}
.miaosha .title .left i{
    background-image: url(../img/jingdongmiaosha/naozhong.jpg);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.miaosha .title .left .ms{
    font-size: 16px;
    color: #f02f2f;
}
.miaosha .title .left .jia{
    font-size: 16px;
    font-weight: 600;
    color: green;
}
.miaosha .title .left .s,.miaosha .title .left .f,.miaosha .title .left .m{
    border-radius: 3px;
    background: #000;
    color: #fff;
    padding: 0 3px;
}
.miaosha .title .right{
    float: left;
    width: 33%;
    padding: 5px 0;
}
.miaosha .title .right a{
    text-decoration: none;
    color: #f02f2f;
}
.miaosha .title .right a i{
    background-image: url(../img/jingdongmiaosha/jiantou.jpg);
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 2px;
}
.miaosha .shop{
    overflow: scroll;
    
}
.miaosha .shop ul::after{
    display: table;
    content: "";
    clear: both;
}
.miaosha .shop ul{
    width: 700px;
}
.miaosha .shop li{
    width: 70px;
    float: left;
    list-style: none;
    text-align: center;
    position: relative;
}
.miaosha .shop li img{
    width: 100%;
}
.miaosha .shop li a{
    text-decoration: none;
}
.miaosha .shop li p{
    font-size: 14px;
    color: #f62d2d;
    margin: 0;
}
.miaosha .shop li del{
    font-size: 12px;
    color: #ababab;
}
.miaosha .shop i{
    width: 38px;
    height: 14px;
    display: inline-block;
    position: absolute;
    top: 48px;
    left: 15px;
}
.miaosha .shop li .remai{
    background-image: url(../img/jingdongmiaosha/shop01.png);
    
    background-size: cover;
}
.miaosha .shop li .tuijian{
    background-image: url(../img/jingdongmiaosha/shop02.png);
    background-size: cover;
}


/*发现好货样式*/

.faxian{
/*    margin-bottom: 100px;   */
    background: #fff;
}
.faxian .row{
    margin-right: 0px;
    margin-left: 0px;
}
.faxian .col-xs-6{
    padding-right: 0px;
    padding-left: 0px;
}
.faxian img{
    width: 100%;
}
.faxian h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.faxian p{
    font-size: 11px;
    padding-left: 10px;
}
.b-t{
    border-top: 1px solid #cccccc;
}
.b-r{
    border-right: 1px solid #cccccc;
}
.b-b{
    border-bottom: 1px solid #cccccc;
}
.b-l{
    border-left: 1px solid #cccccc;
}
.blue{
     background: linear-gradient(to right, #379bf5, #12eaef);
    -webkit-background-clip: text;
    color: transparent;
    
}
.orange{
      background: linear-gradient(to right, #ff8004, #ff471d);
    -webkit-background-clip: text;
    color: transparent;
    
    
}
.yellow{
     background: linear-gradient(to right, #ff7201, #ffb317);
    -webkit-background-clip: text;
    color: transparent;
    
    
}
.red{
       background: linear-gradient(to right, #ff001b, #ff0898);
    -webkit-background-clip: text;
    color: transparent;
}
.zi{
      background: linear-gradient(to right, #ec11f3, #f71708);
    -webkit-background-clip: text;
    color: transparent;
}
.pink{
       background: linear-gradient(to right, #f3070e, #ff0c9a);
    -webkit-background-clip: text;
    color: transparent;
}   

/* 爱生活部分样式*/
.lovelife{
    text-align: center;
    background-image: url(../img/lovelife/bg01.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 18px;
}
.lovelife h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}

.lovelife-bottom{
    background: #fff;
}
.lovelife-bottom .row{
    margin-right: 0px;
    margin-left: 0px;
}
.lovelife-bottom .col-xs-6,.lovelife-bottom .col-xs-3{
    padding-right: 0px;
    padding-left: 0px;
}
.lovelife-bottom img{
    width: 100%;
}
.lovelife-bottom h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.lovelife-bottom p{
    font-size: 13px;
    padding-left: 10px;
    color: #ff5959;
}
.lovelife-bottom .col-xs-3{
    height: 169px;
}
.lovelife-bottom .col-xs-3 p{
    font-size: 12px;
}
.lovelife-bottom .col-xs-6,.lovelife-bottom .col-xs-3{
    position: relative;
}
.lovelife-bottom i{
    
    height: 16px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.yu{
    background: url(../img/lovelife/01.jpg);
    background-size: cover;
    width: 75px;
}
.pl{
   background: url(../img/lovelife/02.jpg);
    background-size: cover; 
    width: 75px;
}
.xi{
    background: url(../img/lovelife/03.jpg);
    background-size: cover;
    width: 61px;
}

/*品牌时尚样式*/

.pinpai{
    text-align: center;
    background-image: url(../img/pinpai/title-bg.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 8px;
}
.pinpai h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}

.pinpai-shop{
    
}
.pinpai-shop img{
    width: 100%;
}
.pinpai-shop{
    background: #fff;
}
.pinpai-shop .row{
    margin-right: 0px;
    margin-left: 0px;
}
.pinpai-shop .col-xs-6,.pinpai-shop .col-xs-3,.pinpai-shop .col-xs-4{
    padding-right: 0px;
    padding-left: 0px;
}
.pinpai-shop h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.pinpai-shop p{
    font-size: 11px;
    padding-left: 7px;
    color: #d663e1;
}



/*特色推荐样式*/
.tese{
    text-align: center;
    background-image: url(../img/tese/title-bg.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 18px;
}
.tese h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}

.tese-shop img{
    width: 100%;
}
.tese-shop{
    background: #fff;
}
.tese-shop .row{
    margin-right: 0px;
    margin-left: 0px;
}
.tese-shop .col-xs-6,.tese-shop .col-xs-3,.tese-shop .col-xs-4{
    padding-right: 0px;
    padding-left: 0px;
}
.tese-shop h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.tese-shop p{
    font-size: 11px;
    padding-left: 7px;
    color: #6e95ff;
}

/*逛商场 样式*/
.guang{
    text-align: center;
    background-image: url(../img/tese/title-bg.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 8px;
    position: relative;
}
.guang::after{
    content: "";
    display: table;
    clear: both;
}
.guang h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
    
}
.guang a{
    position: absolute;
    top: 20px;
    right: 15px;
}
.guang i{
        background: url(../img/miaosha/jiantou.jpg);
    width: 12px;
    height: 12px;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 1px;
}
.guang-shop{
    
}
.guang-shop img{
    width: 100%;
}
.guang-shop{
    background: #fff;
}
.guang-shop .row{
    margin-right: 0px;
    margin-left: 0px;
}
.guang-shop .col-xs-6,.guang-shop .col-xs-3,.guang-shop .col-xs-4{
    padding-right: 0px;
    padding-left: 0px;
}
.guang-shop h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.guang-shop p{
    font-size: 11px;
    padding-left: 7px;
    color: #d663e1;
}



/* 东 家 小 院 */
.dongjia{
    text-align: center;
    background-image: url(../img/dong-jia-xiao-yuan/dongjiaxiaoyuan-title.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 18px;
    position: relative;
}
.dongjia h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}
.dongjia a{
    position: absolute;
    top: 20px;
    right: 0px;
}
.dongjia i{
        background: url(../img/miaosha/jiantou.jpg);
    width: 12px;
    height: 12px;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 1px;
}
.xiaoyuan img{
    width: 100%;
}
.xiaoyuan{
    background: #fff;
}
.xiaoyuan .row{
    margin-right: 0px;
    margin-left: 0px;
}
.xiaoyuan .col-xs-6,.xiaoyuan .col-xs-3,.xiaoyuan .col-xs-4{
    padding-right: 0px;
    padding-left: 0px;
}
.xiaoyuan h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.xiaoyuan p{
    font-size: 11px;
    padding-left: 7px;
    color: #6e95ff;
}



/* 发 现 好 店 */

.haodian{
    text-align: center;
    background-image: url(../img/dong-jia-xiao-yuan/dongjiaxiaoyuan-title.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 18px;
    position: relative;
}
.haodian h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}
.haodian a{
    position: absolute;
    top: 20px;
    right: 0px;
}
.haodian i{
        background: url(../img/miaosha/jiantou.jpg);
    width: 12px;
    height: 12px;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 1px;
}


.haodian-shop img{
    width: 100%;
}
.haodian-shop{
    background: #fff;
}
.haodian-shop .row{
    margin-right: 0px;
    margin-left: 0px;
}
.haodian-shop .col-xs-6,.haodian-shop .col-xs-3,.haodian-shop .col-xs-4,.haodian-shop .col-xs-8,.haodian-shop .col-xs-9{
    padding-right: 2px;
    padding-left: 2px;
}
.haodian-shop h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.haodian-shop p{
    font-size: 11px;
    padding-left: 7px;
    color: #6e95ff;
}
.haodian-shop .text1,.haodian-shop .text2{
    padding: 3px 0px;
}

/* 优选清单 */

.youxuan{
    text-align: center;
    background-image: url(../img/dong-jia-xiao-yuan/dongjiaxiaoyuan-title.png);
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 18px;
    position: relative;
}
.youxuan h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}
.youxuan a{
    position: absolute;
    top: 20px;
    right: 0px;
}
.youxuan i{
  background:url(../img/miaosha/jiantou.jpg);
    width: 12px;
    height: 12px;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 1px;
}

.youxuan-shop{
    margin-bottom: 10px;
}
.youxuan-shop img{
    width: 100%;
}
.youxuan-shop{
    background: #fff;
}
.youxuan-shop .row{
    margin-right: 0px;
    margin-left: 0px;
}
.youxuan-shop .col-xs-6,.youxuan-shop .col-xs-3,.youxuan-shop .col-xs-4,.youxuan-shop .col-xs-8,.youxuan-shop .col-xs-9{
    padding-right: 2px;
    padding-left: 2px;
}
.youxuan-shop h3{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.youxuan-shop p{
    font-size: 11px;
    color: #666666;
    margin: 0;
    padding: 5px 0px;
    
}

.youxuan-shop span{
    color: red;
}





/*为你推荐部分样式*/
.weinituijian{
    padding-bottom: 70px;
}
.weinituijian .topp{
    background-image: url(../img/weinituijian/bg01.png);
    text-align: center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.weinituijian .topp h2{
    margin: 0;
    background: linear-gradient(to right, #F30046 37%, #fd5349 56%,#f36b1c 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.weinituijian li{
/*
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 13px;
*/
    width: 45%;
    background-color: #fff;
    list-style: none;
}
.weinituijian .bottom .row{
    text-align: center;
}
.weinituijian .row{
    margin: 0;
}
.weinituijian .col-md-6{
    padding: 0;
    width: 48%;
    margin-left: 6px;
    margin-bottom: 6px;
}
.weinituijian .col-xs-6{
    padding: 0;
    width: 48%;
    margin-left: 6px;
}
.weinituijian .wntj1{
    width: 100%;
}
.weinituijian h3{
    font-size: 16px;
}
.weinituijian p{
    font-size: 13px;
    color: red;
    
}
.weinituijian i{
    font-size: 12px;
    color: #000;
}






/*返回顶部样式*/
.dingbu{
    width: 50px;
    height: 50px;
    background-image: url(../img/db.bg.png);
    background-size: cover;
    position: fixed;
    bottom: 100px;
    right: 25px;
    display: none;
}




/*顶部*/
.open:after{
    display: table;
    content: "";
    clear: both;
}
.open div{
    text-align: center;
    float: left;
    padding: 20px 0px;
    color: #fff;
    font-size: 16px;
}
.open div a{
    text-decoration: none;
    color: #fff;
}
.open div span{
    margin-right: 10px;
}
.open div:nth-of-type(1){
    width: 70%;
    background: #000;
}
.open div:nth-of-type(2){
    width: 30%;
    background: red;
}